server: # REST and WS server
  port: 2333
  address: 0.0.0.0
plugins:
  youtube:
    pot:
      token: ""
      visitorData: ""
    enabled: true # Whether this source can be used.
    allowSearch: true # Whether "ytsearch:" and "ytmsearch:" can be used.
    allowDirectVideoIds: true # Whether just video IDs can match. If false, only complete URLs will be loaded.
    allowDirectPlaylistIds: true # Whether just playlist IDs can match. If false, only complete URLs will be loaded.
    # The clients to use for track loading. See below for a list of valid clients.
    # Clients are queried in the order they are given (so the first client is queried first and so on...)
    clients:
      - TVHTML5EMBEDDED
      - MUSIC
      - WEB
      - ANDROID_MUSIC
  lavasrc:
      providers:
        # - "dzsearch:%QUERY%"
        - "ytsearch:\"%ISRC%\""
        - "dzisrc:%ISRC%" 
        - "ytsearch:%QUERY%"
      sources:
        spotify: true
        applemusic: false
        deezer: true
        yandexmusic: false
        flowerytts: false
        youtube: false
      spotify:
        clientId: ""
        clientSecret: ""
        countryCode: "US"
        playlistLoadLimit: 6
        albumLoadLimit: 6
      deezer:
        masterDecryptionKey: ""
lavalink:
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.11.1"
      repository: "https://maven.lavalink.dev/releases"
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.0.0"
      repository: "https://maven.topi.wtf/releases"
    - dependency: "com.github.topi314.lavasearch:lavasearch-plugin:1.0.0"
      repository: "https://maven.topi.wtf/releases"

  server:
    password: "youshallnotpass"
    sources:
      youtube: false
      bandcamp: false
      soundcloud: true
      twitch: false
      vimeo: false
      http: true
      local: false
    filters:
      volume: false
      equalizer: true
      karaoke: false
      timescale: true
      tremolo: false
      vibrato: false
      distortion: false
      rotation: false
      channelMix: false
      lowPass: false
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    opusEncodingQuality: 10
    resamplingQuality: LOW
    trackStuckThresholdMs: 10000
    useSeekGhosting: true
    youtubePlaylistLoadLimit: 6
    playerUpdateInterval: 5
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: true

metrics:
  prometheus:
    enabled: true
    endpoint: /metrics

sentry:
  dsn: ""
  environment: ""

logging:
  file:
    path: ./logs

  # level:
  #   root: INFO
  #   lavalink: INFO

  request:
    enabled: true
    includeClientInfo: true
    includeHeaders: false
    includeQueryString: true
    includePayload: true
    maxPayloadLength: 10000


  logback:
    rollingpolicy:
      max-file-size: 1GB
      max-history: 30
